@charset "UTF-8";
@import url(font.css);
@import url(reset.css);

body {background: url(../images/background.png); font-family: 'Pretendard'; overflow-x: hidden;}
.centerbox {max-width: 1730px; margin: 0 auto;}
h3 {font-size: 30px; color: #d65d4a;}


header .centerbox {display: flex; align-items: center; padding: 2% 0; justify-content: space-between; gap: 2vw;}
header h1 {max-width: 300px;}
header h1 a {}
header h1 a img {width: 100%; height: 100%;}
header nav {}
header nav .gnb {display: flex; gap: 6vw;}
header nav .gnb li {font-size: 25px; font-family: 'Cafe24ClassicType';}
header nav .gnb li a {color: #5B2A1E;}

header .search {max-width: 50px;}
header .search a {}
header .search a img {width: 100%; height: 100%;}



.visual {max-height: 890px; position: relative;}

.visual .hero_textbox {position: absolute; top: 50%; right: 0; margin-right: 332px; margin-top: -124px;}


.btn .off {background: #D65D4A; border-radius: 30px; display: flex; justify-content: center; align-items: center;   z-index: 5; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);  position: absolute;}
.btn .on {background: #FFF8F0; border-radius: 50px;   z-index: 4; overflow: hidden;  transition: 0.5s ease-in-out; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);  position: absolute;}
.visual .btn:hover .on {width: 245px;}


.visual .btn .off {width: 74px; height: 63px; right: 0; margin-right: 332px; top: 50%; margin-top: 110px;}
.visual .btn .on { height: 54px; line-height: 54px; padding-left: 35px; box-sizing: border-box; top: 50%; right: 0; margin-right: 336px; margin-top: 114px; font-size: 20px; width: 0;}



.section1 {display: flex; align-items: center; gap: 90px; padding-top: 120px; position: relative;}
.section1 .textbox {display: flex; flex-direction: column; gap: 30px; }
.section1 .textbox p {font-size: 20px; color: #6D6058;}
.section1 .textbox .btn {}
.section1 .textbox .btn .off {width: 70px; height: 58px; position: absolute; margin-left: 230px;}
.section1 .textbox .btn .on {height: 54px; line-height: 54px; padding-left: 20px; box-sizing: border-box; top: 50%; right: 0; margin-right: 470px; margin-top: 170px; font-size: 20px; width: 0;}
.textbox .btn:hover .on {width: 280px;}

.section2 {padding: 240px 0;}
.section2 .centerbox {display: flex; gap: 217px;}
.section2 .section2_left {display: flex; flex-direction: column; gap: 60px;}
.section2 .section2_left li {display: flex; gap: 20px; align-items: center; position: relative;}
.section2 .section2_left li a {position: relative; display: block;}


.section2 .section2_left li .popup {width: 100%; height: 100%; background: rgba(81, 35, 23, 0.7); border-radius: 85px; position: absolute; bottom: 0; color: #fff; font-size: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; opacity: 0; visibility: hidden; transition: 0.3s;}

.section2 .section2_left a:hover .popup {opacity: 1; visibility: visible;}


.section2 .section2_left li::after {content: ''; height: 1px; width: 767px; background: #512317; position: absolute; bottom: -29px;}
.section2 .section2_left li.last::after {content: ''; display: none;}

.section2 .section2_left .textbox {display: flex; flex-direction: column; gap: 24px;}
.section2 .section2_left .textbox p {font-size: 20px; color: #454444; line-height: 150%; letter-spacing: -2%;}

.section2 .section2_right {}
.section2 .section2_right h3 {margin-bottom: 20px;}
.section2 .section2_right ul {display: flex; flex-direction: column; gap: 30px;}
.section2 .section2_right ul li {background: url(../images/noticebox.png); width: 718px; height: 296px; display: flex; justify-content: center; align-items: center; }
.section2 .section2_right ul li a {width: 520px; height: 168px; overflow: hidden;}
.section2 .section2_right ul li .titlebox {font-size: 20px; display: flex; gap: 33px; margin-bottom: 20px;}
.section2 .section2_right ul li .titlebox .label {}
.section2 .section2_right ul li .titlebox .title {}

.section2 .section2_right ul li .date {font-size: 17px; color: #454444; display: block; margin-bottom: 30px;}
.section2 .section2_right ul li .content {color: #454444; font-size: 20px;}


.section3 {padding-bottom: 120px;}
.section3 .centerbox {}
.section3 .centerbox .catalog {display: flex; gap: 30px; justify-content: center;}
.section3 .centerbox .catalog li {display: flex; text-align: center;}
.section3 .catalog li a figure {}
.section3 .catalog li a h3 {padding: 20px 0; position: relative;}
.section3 .catalog li a h3::after {content: ''; width: 250px; height: 1px; background: #512317; position: absolute; bottom: 0; right: 0; margin-right: 82px;}
.section3 .catalog li a p {width: 250px; height: 60px; display: inline-block; padding: 20px 0;}

footer {background: url(../images/footer_bg.png); display: flex; align-items: center; justify-content: center; gap: 320px; padding: 85px 0;}
footer .info {display: flex; justify-content: space-between; align-items: center; gap: 90px;}
footer .info .footer-left , .footer-right {display: flex; flex-direction: column; gap: 20px;}
footer .info .footer-left , .footer-right p {color: #fff; font-size: 18px;}


















@media screen and (max-width:1200px) {

}



@media screen and (max-width:768px) {
    .centerbox {padding: 0 15px;}
    header nav .gnb {display: none;}
    header h1 {margin: 0 auto; width: 350px;}
    header h1 img {width: 100%;}
    header .search {max-width: 45px;}
    header .search a {}
    header .search a img {width: 100%;}

    .visual {height: auto;}
    .visual .hero_textbox {top: 100%; right: 2%; margin-right: 0; margin-top: 0; width: 95%;}
    .visual .hero_textbox img {width: 100%;}

    .visual .btn .off {left: 40%; top: 120%;}
    .visual .btn .on {display: none;}
    .section2 {}
    .section2 .centerbox {flex-direction: column;}
    .section2 .section2_left {}

    .section1 {display: flex; align-items: center; gap: 90px; padding-top: 120px; position: relative;}
    .section1 .textbox {display: flex; flex-direction: column; gap: 30px; }
    .section1 .textbox p {font-size: 20px; color: #6D6058;}
    .section1 .textbox .btn {}
    .section1 .textbox .btn .off {width: 70px; height: 58px; position: absolute; margin-left: 230px;}
    .section1 .textbox .btn .on {height: 54px; line-height: 54px; padding-left: 20px; box-sizing: border-box; top: 50%; right: 0; margin-right: 470px; margin-top: 170px; font-size: 20px; width: 0;}

}