@charset "UTF-8";
@import url(font.css);
@import url(reset.css);

body {background: url(../images/background.png); font-family: 'Cafe24ClassicType';}
.centerbox {width: 1730px; margin: 0 auto;}

header {}
header .centerbox {display: flex; align-items: center; padding: 40px 0; justify-content: space-between;}
header h1 {width: 225px;}
header h1 a {}
header h1 a img {}
header nav {}
header nav .gnb {display: flex; gap: 120px;}
header nav .gnb li {font-size: 25px;}
header nav .gnb li a {color: #5B2A1E;}

header .search {width: 50px; }
header .search a {}
header .search a img {}



.visual {height: 890px; position: relative;}

.visual .hero_textbox {position: absolute; top: 50%; right: 0; margin-right: 332px; margin-top: -124px;}


.btn .off {background: #D65D4A; border-radius: 30px; display: flex; justify-content: center; align-items: center; position: absolute;  z-index: 5;}
.btn .on {width: 0; background: #FFF8F0; border-radius: 50px; position: absolute;  z-index: 4; overflow: hidden;  transition: 0.5s ease-in-out;}
.btn:hover .on {width: 245px;}


.visual .btn .off {width: 74px; height: 63px; right: 0; margin-right: 332px; top: 50%; margin-top: 110px;}
.visual .btn .on { height: 54px; line-height: 54px; padding-left: 35px; box-sizing: border-box; top: 50%; right: 0; margin-right: 336px; margin-top: 114px; font-size: 20px;}



.section1 {display: flex; align-items: center;}
.section1 .textbox {}